html {
    scroll-behavior: smooth;
}

body {
    font-family: "Roboto", serif;
    font-size: 22px;
    font-weight: 200;
    color: #ffffff;
}

.wrapper-black {
    width: 100%;
    background-color: #030303;
}

.container {
    max-width: 1440px;
    margin: 0 auto;    
}

.section-title {
    font-family: "Forum", cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.underline-title {
    position: relative;
    color: #9D8665;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.button:hover {
    background-color: #9d8665;
    color: #000000;
}

.link:hover {
    color: #9d8665;
}

.link:active {
    color: #7e6c51;
}

.btn:hover {
    filter: invert(0.5) sepia(1);
}

.icon:hover {
    filter: invert(0.5) sepia(1);
}



/* __________________________________________________________________________ */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;    
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 199px;
    height: 33px;
}

.header-logo-img {
    width: 49px;
    height: 26px;
    background-image: url("assets/svg/logo.svg");
}

.header-logo-text {
    font-family: "Forum", cursive;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    padding-right: 55px;
    line-height: 26px;
    letter-spacing: 2px;
}

li:last-child .header-nav-link {
    padding-right: 0;
}

.humburger-icon {
    display: none;    
    width: 32px;
    height: 18px;
}

.humburger-icon-item {
    width: 32px;
    height: 2px;
    background-color: #ffffff;
}

/* __________________________________________________________________________ */

.welcome-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 842px;
    padding-top: 32px;    
}

.welcome-card {
    z-index: 10;
    width: 598px;
    height: 388px;
    margin-top: 150px;
}

.welcome-card-title {
    margin-bottom: 25px;
}

.welcome-card-text {
    margin-bottom: 75px;    
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;   
    letter-spacing: 2px;
}

.welcome-card-btn {
    display: inline-block;    
    width: 360px;
    height: 75px;
    text-align: center;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 2px;
    background: #710707;
    border-radius: 10px;
}

.welcome-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: end;
    z-index: 1;
    width: 1000px;
    height: 810px;
}

.welcome-slider-body {
    width: 1000px;
    height: 750px;
}

.welcome-slider-controls {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 600px;
    height: 120px;
    background-color: #030303;
}

.btn {
    width: 30px;
    height: 8px;    
}

.controls-arrows {
    display: flex;
}

.controls-prev-btn {
    margin-right: 20px;
    background-image: url("assets/svg/prev_btn.svg");
}

.controls-next-btn {
    margin-right: 75px;
    background-image: url("assets/svg/next_btn.svg");
}

.controls-num {
    width: 76px;
    height: 40px;
    margin-right: 55px;
    display: flex;
    justify-content: space-between;
}

.controls-num-item {    
    line-height: 40px;
    font-weight: 400;
    color: #ffffff;
}

.controls-dots {
    height: 16px;
    display: flex;
    margin-right: 35px;    
}

.controls-dots-item {
    width: 16px;
    height: 16px;
    margin-right: 25px;
    background-color: #ffffff;
}

/* __________________________________________________________________________ */

.container-visiting {
    min-height: 1266px;
    padding-top: 75px;
    /* margin-bottom: 10px;         */
}

.visiting-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 75px 60px;
    padding-top: 100px;
    color: #000000;    
}

.visiting-cards-item {
    display: block;
    width: 440px;
    height: 424px;
}

.visiting-cards-img {
    display: block;
    width: 100%;
    height: auto;
}

.visiting-card-title {
    position: relative;
    margin-top: 25px;
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-card-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background: #710707;
    border-radius: 0px;
    transition: all 0.3s ease;
}

.visiting-card-title:hover:after {
    width: 100%;
}

.visiting-card-text {
    margin-top: 10px;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
}

/* ------------------------------------------------------------------------------------------ */

.explore-container {
    display: flex;
    justify-content: space-between;
    height: 865px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.explore-content {
    width: 660px;
}

.explore-title {
    margin-bottom: 103px;
    color: #ffffff;
}

.explore-title::after {
    width: 660px;
}

.explore-text {
    margin-bottom: 25px;
    line-height: 38px;
}

p.explore-text > span {
    color: #CAAA7D;
}

.explore-slider{    
    width: 720px;
    height: 700px;
    margin-top: 15px;
}

/* __________________________________________________________________________ */

.video-container {
    height: 1396px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #000000;
}

.video-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 165px;
}

.video-title {
    color: #9D8665;
}

.video-text {
    width: 720px;
    
}

.video-slider {
    width: 100%;
    height: 306px;
    margin-top: 40px;    
}

.video-slider-body {
    width: 100%;
    height: 254px;
}

.video-player-img {
    width: 100%;
    height: 100%;    
}

.video-slider-controls {
    display: flex;
    justify-content: center;
    gap: 180px;
}

.video-btn {
    display: inline-block;
    width: 10px;
    height: 12px;
    fill: #999999; 
    stroke: #ff6c00;   
}

.video-controls-prev {
    /* margin-right: 20px; */
    background-image: url("assets/svg/video_prev_btn.svg");
    color: #000000;
}

.video-controls-next {
    /* margin-right: 75px; */
    background-image: url("assets/svg/video_next_btn.svg");
}

/* __________________________________________________________________________ */
       
.gallery-container {
    overflow-y: hidden;
    height: 2200px;
    padding-top: 75px;
}

.gallery-inner-container {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;    
    height: 3000px;
}

.gallery-item {
    display: block;
    width: 456px;
    height: auto;
    margin-bottom: 24px;
}

.gallery-item:first-child {
    margin-top: 50px;
}

.gallery-item:nth-child(11) {
    margin-top: 50px;
}

/* __________________________________________________________________________ */

.tickets-container {
    height: 893px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #000000;
}

.tickets-content {
    display: flex;
    flex-wrap: wrap;    
}

.tickets-title {
    margin-bottom: 103px;
}

.tickets-picture {
    max-width: 720px;
    height: 550px;
    margin-right: 60px;
}

.tickets-img {
    display: inline-block;
    width: 100%;
}

.ticket-type-form {
    justify-self: start;
    width: 270px;
    height: 211px;
}

.ticket-type-title {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 50px;
}

/* The container */
.input-container {
    display: block;
    position: relative;
    padding-left: 40px;
    margin-bottom: 25px;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  
  /* Hide the browser's default radio button */
  .input-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
  }
  
  /* Create a custom radio button */
  .input-checkmark {
    position: absolute;
    top: 8px;
    left: 0;
    height: 17px;
    width: 17px;
    border-radius: 50%;
    border: 2px solid #000000;
    box-sizing: border-box;
    line-height: 26px;
  }
  
  /* On mouse-over, add a grey background color */
  .input-container:hover input ~ .input-checkmark {
    border: 2px solid #9d8665;
  }
   
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .input-checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  /* Show the indicator (dot/circle) when checked */
  .input-container input:checked ~ .input-checkmark:after {
    display: block;
  }
  
  /* Style the indicator (dot/circle) */
  .input-container .input-checkmark:after {
      top: 3px;
      left: 3px;
      width: 7px;
      height: 7px;
      border-radius: 50%;
      background: #000000;
  }

.tickets-amount-form {
    display: flex;
    flex-direction: column;
    align-items: end;
    margin-left: auto;
    width: 175px;
    height: 341px;
}

.tickets-amount-title {
    align-self: end;    
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    margin-bottom: 25px;
}

.tickets-amount-item {
    width: 150px;
    height: 101px;
    padding-bottom: 10px;
}

.tickets-amount-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150px;
    height: 50px;
    border: 3px solid #000000;
    margin-top: 15px;
}

.amount-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 46px;
    height: 44px;
    font-size: 32px;
    font-weight: 400;
    line-height: 100%;
    background-color: #ffffff;
}

.total-amount {
    font-size: 28px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: 1.65px;
    margin-top: auto;;
}

.tickets-btn {
    width: 175px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    margin-top: 52px;
    letter-spacing: 2px;
}

.number {
    all: unset;
    width: 2em;
    text-align: center;
}

.tickets-parallax {
    width: 100%;
    height: 475px;
    margin-bottom: 75px;
    background-image: url(assets/img/parallax.jpg);
    background-size: cover;
    background-attachment: fixed;
}

/* ---------------------------------------- */

.booking-tickets {
    display: none;

    z-index: 100;
    background-color: red;

    position: fixed;
    top: 50%;
    left: 50%;
    max-width: 1440;
    max-height: 845;
    margin: 0 auto;
    padding-top: 91px;
    padding-bottom: 91px;
}

/* __________________________________________________________________________ */

.contacts-container {
    height: 1053px;
}

.contacts-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}

.contact-info {    
    width: 282px;
    color: #000000;
}

.contact-info > p {
    margin-bottom: 25px;
}

.contact-info-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 50px;
}

.contact-map {
    width: 960px;
    height: 620px;
    background-image: url(assets/img/Map.jpg);
}




/* __________________________________________________________________________ */
.footer-container {
    min-height: 392px;
}

.footer-content {
    display: flex;
    width: 100%;
    min-height: 265px;
    padding-top: 75px;
    border-bottom: 3px solid #666666;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    height: 50px;
    margin-right: 145px;
}

.footer-logo-img {
    display: block;
    width: 50px;
    height: 34px;
    background-image: url("assets/svg/logo.svg");
    background-repeat: no-repeat;
}

.footer-logo-text {
    font-family: "Forum", cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.footer-nav {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 363px;
    height: 128px;
      
}

.footer-nav-link {
    display: block;
    width: 107px;
    margin-bottom: 25px;
    line-height: 26px;
    letter-spacing: 2px;
}

li:nth-child(3) .footer-nav-link,
li:nth-child(6) .footer-nav-link {
    margin-bottom: 0;
}

.footer-social {
    margin-left: 397px;
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 48px;
    margin-top: 87px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #666666;    
    filter: drop-shadow(0px 0px 0px #666666);
}

.social-img {
    display: block;
}

.social-youtube {
    width: 23px;
    height: 16px;
    background-image: url(assets/svg/youtube.svg);
}

.social-instagram {
    width: 20px;
    height: 20px;
    background-image: url(assets/svg/instagram.svg);
}

.social-facebook {
    width: 13px;
    height: 20px;
    background-image: url(assets/svg/facebook.svg);
}

.social-twitter {
    width: 20px;
    height: 16px;
    background-image: url(assets/svg/twitter.svg);
}

.social-pinterest {
    width: 20px;
    height: 20px;
    background-image: url(assets/svg/pinterest.svg);
}

.footer-rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 124px;
}


/* __________________________________________________________________________ */

@media (max-width: 1024px) {
    .container {
        max-width: 984px;   
    }
    
    .section-title {        
        font-size: 50px;        
    }    
        
    .underline-title::after {
        bottom: -20px;        
    } 
    
    /* __________________________________________________________________________ */
    
    .header-container {
        height: 130px;    
    }
    
    .header-logo {
        width: 189px;
    }
    
    .header-nav {
        display: none;
    }

    .humburger-icon {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }
    
    /* .header-nav-link {
        padding-right: 55px;
        line-height: 26px;
        letter-spacing: 2px;
    }
    
    li:last-child .header-nav-link {
        padding-right: 0;
    } */
    
    /* __________________________________________________________________________ */
    
    .welcome-container {
        height: 585px;
        padding-top: 0px;    
    }
    
    .welcome-card {        
        width: 400px;
        height: 100%;
        margin-top: 50px;
    }
    
    .welcome-card-title {
        margin-bottom: 20px;
        line-height: 90px;
    }
    
    .welcome-card-text {
        margin-bottom: 50px;    
        font-size: 24px;
        line-height: 28px;        
    }
    
    .welcome-card-btn {            
        width: 300px;
        height: 60px;
        font-size: 20px;
        line-height: 60px;
    }
    
    .welcome-slider {
        z-index: 1;
        width: 700px;
        height: 585px;
    }
    
    .welcome-slider-body {
        width: 700px;
        height: 525px;
    }
    
    .welcome-slider-controls {
        width: 700px;
    }    
    
    .controls-num {
        width: 71px;
        height: 40px;
        margin-right: 45px;
        display: flex;
        justify-content: space-between;
    }

    .controls-num-item {
        font-size: 20px;    
        line-height: 40px;
        font-weight: 400;
        color: #ffffff;
    }

    .controls-dots {
        height: 16px;
        display: flex;
        margin-right: 20px;    
    }

    .controls-dots-item {
        width: 12px;
        height: 12px;    
    }
    
    /* __________________________________________________________________________ */
    
    .container-visiting {
        min-height: 1433px;
        padding-top: 60px;
        padding-bottom: 60px;       
    }
    
    .visiting-cards {        
        gap: 60px 108px;
        padding-top: 83px;  
    }
    
    .visiting-cards-item {
        width: 330px;
        height: 345px;
    }
        
    .visiting-card-title {
        font-size: 28px;
        line-height: 31px;
        letter-spacing: 3px;
    }
    
    .visiting-card-title::after {
        width: 150px;
    }

    .visiting-card-subhed {
        font-size: 20px;
        line-height: 23px;
    }
    
    .visiting-card-text {
        font-size: 16px;
        line-height: 19px;
    }
    
    /* ------------------------------------------------------------------------------------------ */
    
    .explore-container {
        flex-direction: column;
        justify-content: space-between;
        height: 1269px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .explore-content {
        width: 100%;
    }
    
    .explore-title {
        margin-bottom: 83px;
    }
    
    .explore-title::after {
        width: 100%;
    }
    
    .explore-text { 
        width: 95%;       
        margin-bottom: 9px;
        font-size: 20px;
        line-height: 38px;
    }
    
    .explore-last {
        display: none;
    }
    
    .explore-slider{
        margin: 0 auto;        
        margin-top: 0px;
    }
    
    /* __________________________________________________________________________ */
    
    .video-container {
        height: 1001px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .video-content {
        width: 100%;
        height: 115px;
    }
    
    .video-title {
        color: #9D8665;
    }
    
    .video-text {
        display: none;        
    }
    
    .video-slider {
        margin-top: 40px;
    }
    
    
    .video-player-img {
        width: 100%;
        height: auto;    
    }

    .video-slider-body {
        height: 170px;
    }
    
        
    /* __________________________________________________________________________ */
           
    .gallery-container {
        height: 1460px;
        padding-top: 60px;
    }
    
    .gallery-inner-container {
        padding-top: 60px;            
        height: 2200px;
    }
    
    .gallery-item {
        display: block;
        width: 304px;
        height: auto;
        margin-bottom: 24px;
    }
    
    .gallery-item:first-child {
        margin-top: 50px;
    }
    
    .gallery-item:nth-child(11) {
        margin-top: 50px;
    }
    
    /* __________________________________________________________________________ */
    
    .tickets-container {        
        min-height: 718px;
        padding-top: 60px;
        padding-bottom: 60px;
    }
    
    .tickets-title {
        margin-bottom: 83px;
    }
    
    .tickets-picture {
        max-width: 700px;
        height: 440px;
        margin-right: 0px;
    }
    
    .tickets-img {
        display: inline-block;
        width: 700px;
        height: 440px;
    }
    
    .ticket-type-form {
        display: none;
    }
    
    .tickets-amount-form {
        display: flex;
        flex-direction: column;
        align-items: start;
        margin-left: auto;
        width: 175px;
        height: 440px;
    }
    
    .tickets-amount-title {
        align-self: start;    
    }
    
    .tickets-amount-item {
        width: 200px;
        height: 90px;
        margin-bottom: 25px;
        
    }
    
    .tickets-amount-box {    
        width: 175px;        
        margin-top: 10px;
    }      
        
    .tickets-btn {
        width: 175px;
        height: 50px;
        background-color: #000000;
        color: #ffffff;
        justify-self: end;
        letter-spacing: 2px;
    }
    
    .number {
        all: unset;
        width: 2em;
        text-align: center;
    }
    
    .tickets-parallax {
        width: 100%;
        height: 400px;
        margin-bottom: 60px;
        left: 500px;
        top: 6346px;
        background-image: url(assets/img/parallax.jpg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat
        background-attachment: fixed;
    }

    
    
    /* __________________________________________________________________________ */
    
    .contacts-container {
        height: 1053px;
    }
    
    .contacts-content {
        width: 100%;
        display: flex;
        justify-content: space-between;
        padding-top: 103px;
    }
    
    .contact-info {    
        width: 282px;
        color: #000000;
    }
    
    .contact-info > p {
        margin-bottom: 25px;
    }
    
    .contact-info-title {
        font-weight: 500;
        font-size: 28px;
        line-height: 33px;
        margin-bottom: 50px;
    }
    
    .contact-map {
        width: 960px;
        height: 620px;
        background-image: url(assets/img/Map.jpg);
    }
    
    
    
    
    /* __________________________________________________________________________ */
    .footer-container {
        min-height: 392px;
    }
    
    .footer-content {
        display: flex;
        width: 100%;
        min-height: 265px;
        padding-top: 75px;
        border-bottom: 3px solid #666666;
    }
    
    .footer-logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 195px;
        height: 50px;
        margin-right: 145px;
    }
    
    .footer-logo-img {
        display: block;
        width: 50px;
        height: 34px;
        background-image: url("assets/svg/logo.svg");
        background-repeat: no-repeat;
    }
    
    .footer-logo-text {
        font-family: "Forum", cursive;
        font-size: 28px;
        font-weight: 400;
        line-height: 31px;
        letter-spacing: 5px;
        text-transform: uppercase;
    }
    
    
    .footer-nav {
        display: flex;
        align-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
        width: 363px;
        height: 128px;
          
    }
    
    .footer-nav-link {
        display: block;
        width: 107px;
        margin-bottom: 25px;
        line-height: 26px;
        letter-spacing: 2px;
    }
    
    li:nth-child(3) .footer-nav-link,
    li:nth-child(6) .footer-nav-link {
        margin-bottom: 0;
    }
    
    .footer-social {
        margin-left: 397px;
        display: flex;
        justify-content: space-between;
        width: 340px;
        height: 48px;
        margin-top: 87px;
    }
    
    .footer-social-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        width: 48px;
        height: 48px;
        border-radius: 50px;
        border: 1px solid #666666;    
        filter: drop-shadow(0px 0px 0px #666666);
    }
    
    .social-img {
        display: block;
    }
    
    .social-youtube {
        width: 23px;
        height: 16px;
        background-image: url(assets/svg/youtube.svg);
    }
    
    .social-instagram {
        width: 20px;
        height: 20px;
        background-image: url(assets/svg/instagram.svg);
    }
    
    .social-facebook {
        width: 13px;
        height: 20px;
        background-image: url(assets/svg/facebook.svg);
    }
    
    .social-twitter {
        width: 20px;
        height: 16px;
        background-image: url(assets/svg/twitter.svg);
    }
    
    .social-pinterest {
        width: 20px;
        height: 20px;
        background-image: url(assets/svg/pinterest.svg);
    }
    
    .footer-rights {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: 124px;
    }
    
    
    /* __________________________________________________________________________ */
  }
  @media (max-width: 796px) {
    .container {
        max-width: 796px;
    }    
  }
