body {
    font-family: "Roboto", serif;
    font-size: 22px;
    font-weight: 200;
    color: #ffffff;
}

.wrapper-black {
    width: 100%;
    background-color: #030303;
}

.container {
    max-width: 1440px;
    margin: 0 auto;    
}

.section-title {
    font-family: "Forum", cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.underline-title {
    position: relative;
    color: #9D8665;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

/* __________________________________________________________________________ */

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;    
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 199px;
    height: 33px;
}

.header-logo-img {
    width: 49px;
    height: 26px;
    background-image: url("assets/svg/logo.svg");
}

.header-logo-text {
    font-family: "Forum", cursive;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    padding-right: 55px;
    line-height: 26px;
    letter-spacing: 2px;
}

li:last-child .header-nav-link {
    padding-right: 0;
}

/* __________________________________________________________________________ */

.welcome-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 842px;
    padding-top: 32px;    
}

.welcome-card {
    z-index: 10;
    width: 598px;
    height: 388px;
    margin-top: 150px;
}

.welcome-card-title {
    margin-bottom: 25px;
}

.welcome-card-text {
    margin-bottom: 75px;    
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;   
    letter-spacing: 2px;
}

.welcome-card-btn {
    display: inline-block;    
    width: 360px;
    height: 75px;
    text-align: center;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 2px;
    background: #710707;
    border-radius: 10px;
}

.welcome-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: end;
    z-index: 1;
    width: 1000px;
    height: 810px;
}

.welcome-slider-body {
    width: 1000px;
    height: 750px;
}

.welcome-slider-controls {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 600px;
    height: 120px;
    background-color: #030303;
}

.btn {
    width: 30px;
    height: 8px;    
}

.controls-prev-btn {
    margin-right: 20px;
    background-image: url("assets/svg/prev_btn.svg");
}

.controls-next-btn {
    margin-right: 75px;
    background-image: url("assets/svg/next_btn.svg");
}

/* __________________________________________________________________________ */

.container-visiting {
    min-height: 1266px;
    padding-top: 75px;
    /* margin-bottom: 10px;         */
}

.visiting-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
    padding-top: 100px;
    color: #000000;    
}

.visiting-cards-item {
    display: block;
    width: 440px;
    height: 424px;
}

.visiting-cards-img {
    display: block;
    width: 100%;
    height: auto;
}

.visiting-card-title {
    position: relative;
    margin-top: 25px;
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-card-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background: #710707;
    border-radius: 0px;
}

.visiting-card-text {
    margin-top: 10px;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
}

/* ------------------------------------------------------------------------------------------ */

.explore-container {
    display: flex;
    justify-content: space-between;
    height: 865px;
    padding-top: 75px;
    padding-bottom: 75px;
}

.explore-content {
    width: 660px;
}

.explore-title {
    margin-bottom: 103px;
    color: #ffffff;
}

.explore-title::after {
    width: 660px;
}

.explore-text {
    margin-bottom: 25px;
    line-height: 38px;
}

p.explore-text > span {
    color: #CAAA7D;
}

.explore-slider{    
    width: 720px;
    height: 700px;
    margin-top: 15px;
}

/* __________________________________________________________________________ */

.video-container {
    height: 1396px;
    padding-top: 75px;
    padding-bottom: 75px;
    color: #000000;
}

.video-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 165px;
}

.video-title {
    color: #9D8665;
}

.video-text {
    width: 720px;
    
}

.video-slider {
    margin-top: 40px;
}


.video-player-img {
    width: 100%;
    height: 100%;    
}

.video-slider-controls {
    
}

.video-btn {
    width: 10px;
    height: 12px;
    fill: #999999; 
    stroke: #ff6c00;   
}

.video-controls-prev {
    /* margin-right: 20px; */
    background-image: url("assets/svg/video_prev_btn.svg");
    color: #000000;
}

.video-controls-next {
    /* margin-right: 75px; */
    background-image: url("assets/svg/video_next_btn.svg");
}

/* __________________________________________________________________________ */
       
.gallery-container {
    overflow-y: hidden;
    height: 2200px;
    padding-top: 75px;
}

.gallery-title {
    
}

.gallery-inner-container {
    padding-top: 75px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: space-between;    
    height: 3000px;
}

.gallery-item {
    display: block;
    width: 456px;
    height: auto;
    margin-bottom: 24px;
}

.gallery-item:first-child {
    margin-top: 50px;
}

.gallery-item:nth-child(11) {
    margin-top: 50px;
}

/* __________________________________________________________________________ */

.tickets-container {
    height: 1368px;
    padding-top: 75px;
    padding-bottom: 75px;
}




/* __________________________________________________________________________ */

.contacts-container {
    height: 1053px;
}

.contacts-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
}

.contact-info {    
    width: 282px;
    color: #000000;
}

.contact-info > p {
    margin-bottom: 25px;
}

.contact-info-title {
    font-weight: 500;
    font-size: 28px;
    line-height: 33px;
    margin-bottom: 50px;
}

.contact-map {
    width: 960px;
    height: 620px;
    background-image: url(assets/img/Map.jpg);
}




/* __________________________________________________________________________ */
.footer-container {
    min-height: 392px;
}

.footer-content {
    display: flex;
    width: 100%;
    min-height: 265px;
    padding-top: 75px;
}

.footer-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 195px;
    height: 50px;
    margin-right: 145px;
}

.footer-logo-img {
    display: block;
    width: 50px;
    height: 34px;
    background-image: url("assets/svg/logo.svg");
    background-repeat: no-repeat;
}

.footer-logo-text {
    font-family: "Forum", cursive;
    font-size: 28px;
    font-weight: 400;
    line-height: 31px;
    letter-spacing: 5px;
    text-transform: uppercase;
}


.footer-nav {
    display: flex;
    align-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    width: 363px;
    height: 128px;
      
}

.footer-nav-link {
    display: block;
    width: 107px;
    margin-bottom: 25px;
    line-height: 26px;
    letter-spacing: 2px;
}

li:nth-child(3) .footer-nav-link,
li:nth-child(6) .footer-nav-link {
    margin-bottom: 0;
}

.footer-social {
    margin-left: 397px;
    display: flex;
    justify-content: space-between;
    width: 340px;
    height: 48px;
    margin-top: 87px;
}

.footer-social-item {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 48px;
    height: 48px;
    border-radius: 50px;
    border: 1px solid #666666;    
    filter: drop-shadow(0px 0px 0px #666666);
}

.social-img {
    display: block;
}

.social-youtube {
    width: 23px;
    height: 16px;
    background-image: url(assets/svg/youtube.svg);
}

.social-instagram {
    width: 20px;
    height: 20px;
    background-image: url(assets/svg/instagram.svg);
}

.social-facebook {
    width: 13px;
    height: 20px;
    background-image: url(assets/svg/facebook.svg);
}

.social-twitter {
    width: 20px;
    height: 16px;
    background-image: url(assets/svg/twitter.svg);
}

.social-pinterest {
    width: 20px;
    height: 20px;
    background-image: url(assets/svg/pinterest.svg);
}

.footer-rights {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 124px;
}





/* __________________________________________________________________________ */


