body {
    font-family: "Roboto", serif;
    font-size: 22px;
    font-weight: 200;
    color: #ffffff;
}

.wrapper-black {
    width: 100%;
    background-color: #030303;
}

.container {
    max-width: 1440px;
    margin: 0 auto;    
}

.section-title {
    font-family: "Forum", cursive;
    font-size: 80px;
    font-weight: 400;
    line-height: 90px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.underline-title {
    position: relative;
    color: #9D8665;
}

.underline-title::after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 0;
    width: 100%;
    height: 3px;
    background: #710707;
    border-radius: 0px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 150px;    
}

.header-logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 199px;
    height: 33px;
}

.header-logo-img {
    width: 49px;
    height: 26px;
    background-image: url("assets/svg/logo.svg");
}

.header-logo-text {
    font-family: "Forum", cursive;
    font-size: 28px;
    font-weight: 400;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
}

.header-nav-link {
    padding-right: 55px;
    line-height: 26px;
    letter-spacing: 2px;
}

li:last-child .header-nav-link {
    padding-right: 0;
}

.welcome-container {
    position: relative;
    display: flex;
    justify-content: space-between;
    height: 842px;
    padding-top: 32px;    
}

.welcome-card {
    z-index: 10;
    width: 598px;
    height: 388px;
    margin-top: 150px;
}

.welcome-card-title {
    margin-bottom: 25px;
}

.welcome-card-text {
    margin-bottom: 75px;    
    font-size: 28px;
    font-weight: 300;
    line-height: 33px;   
    letter-spacing: 2px;
}

.welcome-card-btn {
    display: inline-block;    
    width: 360px;
    height: 75px;
    text-align: center;
    font-weight: 300;
    line-height: 75px;
    letter-spacing: 2px;
    background: #710707;
    border-radius: 10px;
}

.welcome-slider {
    position: absolute;
    bottom: 0;
    right: 0;
    align-self: end;
    z-index: 1;
    width: 1000px;
    height: 810px;
}

.welcome-slider-body {
    width: 1000px;
    height: 750px;
}

.welcome-slider-controls {
    position: absolute;
    z-index: 5;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: end;
    width: 600px;
    height: 120px;
    background-color: #030303;
}

.btn {
    width: 30px;
    height: 8px;    
}

.controls-prev-btn {
    margin-right: 20px;
    background-image: url("assets/svg/prev_btn.svg");
}

.controls-next-btn {
    margin-right: 75px;
    background-image: url("assets/svg/next_btn.svg");
}



.container-visiting {
    height: 1266px;
    padding-top: 75px;        
}

.visiting-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 75px 60px;
    padding-top: 100px;
    color: #000000;    
}

.visiting-cards-item {
    display: block;
    width: 440px;
    height: 424px;
}

.visiting-cards-img {
    display: block;
    width: 100%;
    height: auto;
}

.visiting-card-title {
    position: relative;
    margin-top: 25px;
    margin-bottom: 22px;
    font-size: 32px;
    line-height: 35px;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.visiting-card-title::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 300px;
    height: 2px;
    background: #710707;
    border-radius: 0px;
}

.visiting-card-text {
    margin-top: 10px;
    font-weight: 200;
    font-size: 18px;
    line-height: 21px;
}